a {
  color: inherit;
  text-decoration: inherit;
}

.btn-text {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
  transition-property: all;
}

.btn-text:hover {
  color: rgb(255 153 102);
}

.btn {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
  background-color: rgb(255 153 102);
  padding: 12px 35px;
  border-radius: 5px;
  border: 2px solid rgb(255 153 102);
  outline: none;
  transition: all 0.5s;
  display: grid;
  place-content: center;
}

.btn:hover {
  background-color: transparent;
}

.btn-black {
  background-color: rgb(10, 16, 47);
  color: rgb(255, 255, 255);
}

.subscribe-form {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 8px;
  border-radius: 5px;
  width: 500px;
  margin-top: 3rem;
}

.subscribe-form input {
  border: none;
  outline: none;
  flex-grow: 1;
  margin-left: 10px;
  font-size: 1.1rem;
  font-weight: 700;
}

.subscribe-form .btn {
  cursor: pointer;
}

.secondary-heading {
  text-align: center;
  font-size: 2.7rem;
  margin-block: 3rem;
  max-width: 650px;
  margin-inline: auto;
  color: rgb(10 16 47);
}

/* Switch component styles */
.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 35px;
  border-radius: 30px;
  background-color: #ccc;
  cursor: pointer;
}

.switch input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: 1;
}

.switch label {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color: rgb(10 16 47);
  cursor: pointer;
}

.switch label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  border-radius: 30px;
  background-color: rgb(255 153 102);
  transition: transform 0.3s ease-in-out;
}

.switch input[type="checkbox"]:checked + label::before {
  transform: translateX(100%);
}

.switch input[type="checkbox"]:checked + label .switch-button::before {
  transform: translate(10px, -50%);
}

.horizontal-line {
  height: 1px;
  width: 100%;
}
