@media screen and (max-width: 1200px) {
  .hero-wrapper .hero-left h1 {
    font-size: 3.5rem;
  }

  .hero-wrapper .hero-left,
  .hero-right {
    width: 50%;
  }

  .hero-wrapper .hero-right .hero-image-1 {
    transform: none;
  }

  .hero-wrapper .hero-right .hero-image-3 {
    display: none;
  }
}

@media screen and (max-width: 850px) {
  .hero-wrapper {
    flex-wrap: wrap;
    padding: 20px;
  }

  .hero-wrapper h1 {
    font-size: 2.5rem;
  }

  .subscribe-form {
    width: 100%;
  }

  .hero-right {
    width: 100%;
  }

  .hero-right .two-img {
    justify-content: flex-start;
    align-self: flex-start;
  }

  .hero-image-2 {
    align-self: flex-end;
  }

  .feature-card-group {
    flex-wrap: wrap;
  }

  .feature-card {
    min-width: 300px;
  }

  .feature-card > div::after {
    display: none;
  }

  .section-content {
    flex-wrap: wrap;
  }

  .strategy-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .process-card-group {
    flex-wrap: wrap;
  }

  .process-card-group .bar {
    display: none;
  }

  .process-card {
    max-width: 350px;
    margin-block: 20px;
  }

  .team-header {
    flex-wrap: wrap;
  }

  .team-header h2 {
    font-size: 2.4rem;
  }

  .team-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .pricing-wrapper {
    grid-template-columns: 1fr;
  }

  .testimonial-wrapper {
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
  }

  .testimonial-left,
  .testimonial-right {
    min-width: 400px;
    text-align: center;
  }

  .footer-top {
    flex-direction: column;
    gap: 3rem;
    padding-block: 3rem;
    margin: 2rem auto;
  }

  .footer-heading {
    text-align: center;
  }

  .footer-heading h1 {
    font-size: 2.2rem;
    width: 100%;
  }

  .footer-block {
    min-width: 45%;
  }

  .footer-bottom {
    margin-top: 0;
  }
}

@media screen and (max-width: 580px) {
  .secondary-heading {
    font-size: 1.7rem;
    margin: 0;
  }

  .content-images img {
    width: 400px !important;
  }

  .img-small {
    display: none;
  }

  .content-text .secondary-heading {
    font-size: 1.7rem;
  }

  .content-text p:nth-last-child(2) {
    margin-bottom: 20px;
  }

  .section-content {
    padding: 40px 20px;
  }

  .section-strategies h2 {
    font-size: 1.9rem;
  }

  .strategy-list {
    margin-block: 30px;
    grid-template-columns: 1fr;
  }

  .team-header h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }

  .btn {
    font-size: 0.9rem;
    padding: 8px 15px;
  }

  .team-list {
    margin-bottom: 2rem;
  }

  .switch-button-container {
    margin-top: 20px;
  }

  .testimonial-wrapper {
    margin-top: 20px;
  }

  .testimonial-left .left-wrapper q {
    font-size: 1.2rem;
  }

  .footer-top {
    padding-inline: 1rem;
  }

  .footer-heading h1 {
    font-size: 1.7rem;
  }

  .section-pricing,
  .section-content,
  .section-strategies,
  .section-features,
  .section-testimonial {
    padding-inline: 20px;
  }
}
